* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  margin-top: 3%;
  height: 83vh;
  display: flex;
  border-radius: 30px;
  border: 2px solid whitesmoke;
  justify-content: center;
  margin-left: 5%;
  background: rgb(0, 138, 214);
  background: -moz-radial-gradient(
    circle,
    rgba(0, 138, 214, 1) 35%,
    rgba(92, 180, 229, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(0, 138, 214, 1) 35%,
    rgba(92, 180, 229, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(0, 138, 214, 1) 35%,
    rgba(92, 180, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008ad6",endColorstr="#5cb4e5",GradientType=1);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.profile-container .profile-stats {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-container {
  flex: 30%;
  height: 100%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.left-container .profile-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-container .profile-buttons button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
  zoom: 2;
}

.right-container {
  flex: 70%;
  height: 100%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

.right-container .matchHistory {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  background-color: #7355b1;
  margin: 5%;
  border-radius: 20px;
  border: 2px solid whitesmoke;
}

.right-container .matchHistory .matchHistory-header {
  width: 100%;
  height: 10%;
  background-color: #5c4290;
  display: flex;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: whitesmoke;
}
.right-container .matchHistory .matchHistory-content {
  display: flex;
  justify-content: center;
  height: 90%;
  background-color: #5c4290;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  border-radius: 50%;
  border: 2px solid whitesmoke;
  height: 200px;
}

.modal-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  top: 10%;
  left: 0%;
}

.modal-box {
  display: flex;
  background: #333333;
  width: 50%;
  height: 50%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}

.modal-box .modal-settings {
  width: 100%;
  height: 100%;
  display: flex;
}

.picture-settings {
  flex: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.picture-settings .profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.picture-settings img {
  height: 150px;
}
.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.uploadButton {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.username-settings {
  flex: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.twoFA-settings {
  flex: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
