.chat-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 80vh;
	margin-top: 5vh;
	margin-left: 5%;
	border: 2px solid whitesmoke;
	border-radius: 30px;
	background: rgb(82, 59, 130);
	background: -moz-linear-gradient(90deg,
			rgba(82, 59, 130, 1) 0%,
			rgba(48, 34, 75, 1) 40%,
			rgba(82, 59, 130, 1) 100%);
	background: -webkit-linear-gradient(90deg,
			rgba(82, 59, 130, 1) 0%,
			rgba(48, 34, 75, 1) 40%,
			rgba(82, 59, 130, 1) 100%);
	background: linear-gradient(90deg,
			rgba(82, 59, 130, 1) 0%,
			rgba(48, 34, 75, 1) 40%,
			rgba(82, 59, 130, 1) 100%);
 
	.left-side {
 
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		height: 100%;
		width: 100%;
		flex-direction: column;
		overflow: auto;
 
		.rooms-list {
			height: 90%;
			width: 100%;
			display: flex;
			justify-content: center;
			overflow: auto;
 
			ul {
				width: 90%;
				height: 90%;
				margin: 10px 0;
 
				li {
					margin: 10px 0;
					list-style: none;
					width: 100%;
					height: 10%;
 
					button {
						width: 100%;
						background-color: transparent;
						color: white;
						cursor: pointer;
						border: none;
						border-radius: 10px;
						height: 100%;
						background-color: rgb(82, 59, 130);
						font-weight: 600;
						font-size: 18px;
 
					}
 
					button:hover {
						background-color: whitesmoke;
						color: rgb(82, 59, 130);
					}
 
				}
			}
		}
 
		.room-buttons {
			width: 100%;
			height: 10%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			background-color: transparent;


			button {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				cursor: pointer;
				background-color: transparent;
				border: none;
				overflow: auto;
				.icon {
					background-color: transparent;
					color: whitesmoke;
					height: 60px;
					width: 60px;
				}
			}
			form {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					cursor: pointer;
					background-color: transparent;
					border: none;
					overflow: auto;
					.icon {
						background-color: transparent;
						color: whitesmoke;
						height: 60px;
						width: 60px;
					}
				}
			}
		}
	}
 
 
	.middle {
		display: flex;
		justify-content: center;
		flex: 2;
		height: 100%;
		width: 100%;
		border-left: solid 2px whitesmoke;
		border-right: solid 2px whitesmoke;
		flex-direction: column;
 
		.top-chat {
			height: 10%;
			width: 100%;
			background-color: rgb(82, 59, 130);
			display: flex;
			justify-content: space-around;
			align-items: center;
			color: whitesmoke;
			font-weight: 600;
			font-size: 15px;
 
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: fit-content;
				padding: 10px;
				background-color: transparent;
				color: white;
				cursor: pointer;
				border: solid 2px whitesmoke;
				border-radius: 10px;
				height: 60%;
				background-color: rgb(82, 59, 130);
				font-weight: 600;
				font-size: 18px;
 
			}
		}
 
		.chat-box {
			height: 80%;
			width: 100%;
 
			ul {
				display: flex;
				overflow-y: auto;
				flex-direction: column;
				height: 100%;
				width: 100%;
 
				.owner_messages {
 
					li {
						width: fit-content;
						height: fit-content;
						list-style: none;
						float: right;
						text-align: right;
						color: grey;
						margin: 10px 0;
						margin-right: 15px;
						max-width: 80%;
 
						.sender-username {
							color: lightgrey;
							font-size: 12px;
						}
 
						p {
							width: fit-content;
							height: fit-content;
							background-color: lightblue;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
							border-top-left-radius: 10px;
							width: 100%;
							height: 100%;
							padding: 10px;
							font-size: 15px;
							margin-right: 10px;
							font-weight: 600;
							color: black;
							word-break: break-all;
						}
 
						.message-date {
							color: lightgray;
							font-size: 12px;
						}
					}
				}
 
				.others-messages {
					li {
						width: fit-content;
						height: fit-content;
						list-style: none;
						float: left;
						text-align: left;
						margin: 10px 0;
						margin-left: 15px;
						max-width: 80%;
						color: grey;
 
						.sender-username {
							color: lightgrey;
							font-size: 12px;
						}
 
						p {
							color: black;
							background-color: whitesmoke;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
							border-top-right-radius: 10px;
							width: 100%;
							height: 100%;
							padding: 10px;
							font-size: 15px;
							font-weight: 600;
							word-break: break-all;
						}
 
						.message-date {
							color: lightgray;
							font-size: 12px;
						}
					}
				}
 
				.endchat {
					height: 90px;
				}
 
			}
		}
 
		.chat-bottom {
			width: 100%;
			height: 10%;
			display: flex;
 
			.chat-send-msg {
				width: 100%;
				height: 100%;
				display: flex;
				flex: 5;
 
				form {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					margin: auto;
					width: 100%;
					height: 100%;
 
					input {
						width: 75%;
						height: 80%;
						background-color: transparent;
						border: 2px solid whitesmoke;
						border-radius: 10px;
						color: whitesmoke;
						font-size: 20px;
						padding-left: 10px;
					}
 
					input::placeholder {
						color: whitesmoke;
					}
 
					button {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 80%;
						width: 20%;
						background-color: transparent;
						color: whitesmoke;
						border: none;
 
						.icon {
							height: 80%;
							width: 80%;
						}
					}
				}
 
			}
 
			.chat-game-btn {
				width: 100%;
				height: 100%;
				display: flex;
				flex: 1;
 
				form {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					margin: auto;
					width: 100%;
					height: 100%;
 
					button {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 80%;
						width: 100%;
						background-color: transparent;
						color: whitesmoke;
						border: none;
 
						.icon {
							height: 80%;
							width: 80%;
						}
					}
				}
 
			}
		}
 
 
	}
 
	.rigth-side {
		display: flex;
		justify-content: flex-start;
		flex: 1;
		height: 100%;
		width: 100%;
		flex-direction: column;
		color: white;
		font-weight: 600;
		font-size: 20px;
		align-items: center;
		height: 90%;
		width: 100%;
		display: flex;
		justify-content: center;
		overflow: auto;
 
		.member-list {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 50%;
			flex: 1;
			flex-direction: column;
 
			ul {
				width: 90%;
				height: 100%;
 
 
				.member-element {
 
					display: flex;
					justify-content: start;
					align-items: center;
 
					list-style: none;
					width: 100%;
					height: 10%;
					background-color: rgb(82, 59, 130);
					border-radius: 10px;
					font-weight: 600;
					font-size: 18px;
					list-style: none;
					color: whitesmoke;
					margin: 10px 0;
 
 
					li {
						margin-left: 10px;
						display: flex;
						align-items: center;
						width: 100%;
 
						.member-name {
							display: flex;
							align-items: center;
							width: 50%;
							display: flex;
							flex: 1;
							float: left;
						}
 
 
						.member-buttons {
 
							width: 50%;
							display: flex;
							float: right;
							flex: 1;
							justify-content: space-evenly;
 
							button {
								border: none;
								cursor: pointer;
								background-color: transparent;
 
								.icon {
									background-color: transparent;
									color: whitesmoke;
									height: 24px;
									width: 24px;
 
								}
							}
						}
					}
				}
			}
		}
 
 
	}
}
 
::-webkit-scrollbar {
	display: none;
}
 
.modal-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 10vh);
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.05);
	top: 10%;
	left: 0%;
 
	.modal-box {
		background: rgb(82, 59, 130);
		background: -moz-linear-gradient(90deg,
				rgba(82, 59, 130, 1) 0%,
				rgba(48, 34, 75, 1) 40%,
				rgba(82, 59, 130, 1) 100%);
		background: -webkit-linear-gradient(90deg,
				rgba(82, 59, 130, 1) 0%,
				rgba(48, 34, 75, 1) 40%,
				rgba(82, 59, 130, 1) 100%);
		background: linear-gradient(90deg,
				rgba(82, 59, 130, 1) 0%,
				rgba(48, 34, 75, 1) 40%,
				rgba(82, 59, 130, 1) 100%);
 
		overflow: hidden;
		width: 60%;
		height: 60%;
		height: 50;
		padding: 1rem 0;
		border-radius: 1rem;
		border: 2px solid whitesmoke;
		color: whitesmoke;
		display: flex;
		align-items: center;
		justify-content: center;

		.add-a-room {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			.text-input {
				width: 40%;
				input {
					width: 60%;
					height: 80%;
					background-color: transparent;
					border: 2px solid whitesmoke;
					border-radius: 10px;
					color: whitesmoke;
					font-size: 20px;
					padding-left: 10px;
				}
			}
			.pass-for-protected {
				width: 40%;
				input {
					width: 60%;
					height: 80%;
					background-color: transparent;
					border: 2px solid whitesmoke;
					border-radius: 10px;
					color: whitesmoke;
					font-size: 20px;
					padding-left: 10px;
				}
			}
			.addARoom-buttons {
				width: 60%;
				height: 20%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30%;
				width: 30%;
				background-color: transparent;
				color: whitesmoke;
				border-radius: 10px;
				font-size: 24px;
			}
		}

		}
		.setAdmin {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;
 
			.setAdmin-buttons {
				width: 60%;
				height: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40%;
				width: 50%;
				background-color: transparent;
				color: whitesmoke;
				border-radius: 10px;
				font-size: 24px;
			}

			}

		}

		.muteUser {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;
			.not-mute {

				input {
					width: 40%;
					height: 80%;
					background-color: transparent;
					border: 2px solid whitesmoke;
					border-radius: 10px;
					color: whitesmoke;
					font-size: 20px;
					padding-left: 10px;
				}
				.confirm-button{
				button {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 80%;
					width: 100%;
					background-color: transparent;
					color: whitesmoke;
					border: 2px solid whitesmoke;
					border-radius: 10px;
					font-size: 24px;
					flex: 1;

				}
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80%;
			width: 100%;
			background-color: transparent;
			color: whitesmoke;
			border: 2px solid whitesmoke;
			border-radius: 10px;
			font-size: 24px;
			flex: 1;
		}
	}

	.banUser {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		.not-ban {
			flex-direction: row;

			input {
				width: 40%;
				height: 80%;
				background-color: transparent;
				border: 2px solid whitesmoke;
				border-radius: 10px;
				color: whitesmoke;
				font-size: 20px;
				padding-left: 10px;
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80%;
				width: 100%;
				background-color: transparent;
				color: whitesmoke;
				border: 2px solid whitesmoke;
				border-radius: 10px;
				font-size: 24px;

			}
	}
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
		width: 100%;
		background-color: transparent;
		color: whitesmoke;
		border: 2px solid whitesmoke;
		border-radius: 10px;
		font-size: 24px;
	}
}

		.room-settings {
			width: 100%;
			height: 100%;
 
 
			.top-settings {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				width: 100%;
				height: 10%;
			}
 
			.sides-room-settings {
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 90%;
 
				.room-settings-left {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					flex-direction: column;
 
					.delete-room-settings {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						flex: 1;
					}
 
					.password-settings {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						flex: 1;
						flex-direction: column;
						gap: 20px;
 
					}
 
				}
 
				.room-settings-right {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					flex-direction: column;
 
					.room-settings-lists {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						flex-direction: column;
 
						.banmute-list {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							flex-direction: column;
							flex: 1;
 
							h3 {
								height: 10%;
								width: 1005;
							}
 
							ul {
								width: 90%;
								height: 100%;
 
 
								.member-element {
 
									display: flex;
									justify-content: start;
									align-items: center;
 
									list-style: none;
									width: 100%;
									height: 10%;
									background-color: rgb(82, 59, 130);
									border-radius: 10px;
									font-weight: 600;
									font-size: 18px;
									list-style: none;
									color: whitesmoke;
									margin: 10px 0;
 
 
									li {
										margin-left: 10px;
										display: flex;
										align-items: center;
										width: 100%;
 
										.member-name {
											display: flex;
											align-items: center;
											width: 50%;
											display: flex;
											flex: 1;
											float: left;
										}
 
									}
								}
							}
						}
					}
				}
			}
 
		}
	}
}