.loadingbody {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans";
}

.cercleconnect {
  display: flex;
  width: 150px;
  height: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
}

.cercleconnect::after {
  content: " ";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: rgb(40, 129, 40);
}

.cercledisconnect {
  display: flex;
  width: 150px;
  height: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
}

.cercledisconnect::after {
  content: " ";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: rgb(170, 28, 40);
}

.btndisplay {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}

.dmsearchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.dmbody {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dmheader {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10%;
  color: white;
  background: #196f9f;
  border-radius: 30px 30px 0px 0px;
  font-family: "Lucida Sans";
}

.dmchat {
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #3b3b3b;
  border: 1px solid white;
}

.scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.dmcenter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dminputbody {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10%;
  background: #196f9f;
  border-radius: 0px 0px 30px 30px;
}

.dminput {
  width: 30%;
  color: white;
  border-color: white;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px;
  background: #196f9f;
}

.displaymydm {
  align-self: flex-start;
  color: #fff;
  background-color: #196f9f;
  font-size: 30px;
  max-width: 20vw;
  overflow-wrap: break-word;
  margin: 0;
  width: fit-content;
  border: 10px solid #196f9f;
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 1%;
}

.displaydm {
  align-self: flex-end;
  color: #fff;
  background-color: #333333;
  font-size: 30px;
  max-width: 20vw;
  overflow-wrap: break-word;
  margin: 0;
  width: fit-content;
  border: 10px solid #333333;
  border-radius: 5px;
  margin-top: 1%;
  margin-right: 1%;
}

.btnbody {
  min-height: 50px;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  border-radius: 75px 75px 75px 75px;
  overflow: hidden;
	border: none;
  background: transparent;
  transition: height 1s;
}

.btnbody:hover {
  height: 100px;
  border-radius: 25px 25px 25px 25px;
}

.btnuser {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border-radius: 75px 75px 75px 75px;
  font-size: 20px;
  color: white;
  background: #523b82;
}

.nameuser {
  display: flex;
  width: 15%;
  height: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
}

.notifications {
  display: flex;
	width: 57%;
  height: 50px;
	justify-content: center;
  align-items: center;
  text-align: center;
	background: transparent;
	color: rgb(175, 128, 209);
	font-family: "Lucida Sans";
}

.boxtourne {
	width: 8%;
	height: 50px;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tourne {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

.tourneanim {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlayup {
	width: 20%;
	height: 50px;
  display: flex;
  flex-direction: row;
}

.overlayupright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 0px 75px 75px 0px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
	font-family: "Lucida Sans";
}

.overlay {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.overlayleft {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
  height: 50px;
  border-radius: 75px 0px 0px 75px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
	font-family: "Lucida Sans";
}

.overlaymiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 34%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
	font-family: "Lucida Sans";
}

.overlayright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
  height: 50px;
  border-radius: 0px 75px 75px 0px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
	font-family: "Lucida Sans";
}

.overlaycenter:hover {
  opacity: 0.5;
}

.bodysearchinput {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 3vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchinput {
  width: 80%;
  background-color: whitesmoke;
  color: black;
  border-color: white;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.btnsend {
  color: white;
  border-color: white;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
  background: #196f9f;
  font-family: "Lucida Sans";
}

.btnsend:hover {
  opacity: 0.5;
}

.simplebtn {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.bodydmfriendlist {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
  color: white;
  font-size: 20px;
}

.dmfriendlist {
  width: 100%;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
  background: transparent;
  color: white;
  border: none;
  font-size: 25px;
}

.dmfriendlist:hover {
  opacity: 0.5;
}

.simplebtn:hover {
	opacity: 0.5;
}

a {
  text-decoration: none;
}
