.friend-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}

.friendsearchbar {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 10%;
}

.overlayleft-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
  height: 50px;
  border-radius: 75px 0px 0px 75px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
}

.overlaymiddle-friend {
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 34%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
}

.overlayright-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
  height: 50px;
  border-radius: 0px 75px 75px 0px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #523b82;
  overflow: hidden;
}

.friendrequestbtn {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border-radius: 75px 75px 75px 75px;
	color: white;
	border: none;
  background: #523b82;
}

.friendrequestbtn .left {
	width: 33%;
	height: 50px;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font-family: "Lucida Sans";
	background: transparent;
	border: none;
}

.friendrequestbtn .middle {
	width: 34%;
	height: 50px;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font-family: "Lucida Sans";
	background: transparent;
	border: none;
}

.friendrequestbtn .right {
	width: 33%;
	height: 50px;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font-family: "Lucida Sans";
	background: transparent;
	border: none;
}

.requestbtn {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans";
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.requestbtn:hover {
	opacity: 0.5;
}