nav {
  height: 121px;
  width: 100vw;
  background: #333333;
}

.separate {
  height: 1px;
  background: black;
}

.list {
  list-style-type: none;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.space {
  margin-right: 6vw;
  margin-bottom: 2px;
}

.spacenotlog {
  margin-right: calc(48vw + 360px);
  margin-bottom: 2px;
}

.link {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 40px;
  border-radius: 75px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  background: #3b3b3b;
}

.btn:hover {
  box-shadow: 0 5px 35px 0 #272727;
}

.btngreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 60px;
  border-radius: 75px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: rgb(43, 102, 43);
  box-shadow: 0 0 5px rgb(43, 102, 43);
}

.btngreen:hover {
  box-shadow: 0 5px 35px 0 rgb(1, 149, 1);
}

@media all and (max-width: 1270px) {
  .space {
    margin-right: 1vw;
  }
  .btn {
    width: 80px;
    font-size: 10px;
  }
  .btngreen {
    width: 100px;
    font-size: 13px;
  }
}

@media all and (max-width: 500px) {
  nav {
    height: 331px;
  }
  .list {
    height: 310px;
    flex-direction: column;
  }
}
