.twoFaBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    h3 {
        padding: 1em;
        margin-bottom: 0.5em;
        border-radius: 5px;
        width: 100%;
        border-bottom: 2px rgba(91, 89, 137, 0.7) solid ;
        text-align: center;
        background: rgb(82, 59, 130);
        background: -moz-linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.7) 0%,
            rgba(48, 34, 75, 0.7) 40%,
            rgba(82, 59, 130, 0.7) 100%
        );
        background: -webkit-linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.7) 0%,
            rgba(48, 34, 75, 0.7) 40%,
            rgba(82, 59, 130, 0.7) 100%
        );
        background: linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.7) 0%,
            rgba(48, 34, 75, 0.7) 40%,
            rgba(82, 59, 130, 0.7) 100%
        );
    }
    h4 {
        width: 100%;
        height: 100%;
        margin-bottom: 0.3em;
        border-bottom: 2px rgba(91, 89, 137, 0.5) solid ;
        padding-top: 0.5em;
        padding-left: 0.7em;
        border-radius: 7px;
        background: rgb(82, 59, 130);
        background: -moz-linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.5) 0%,
            rgba(48, 34, 75, 0.5) 40%,
            rgba(82, 59, 130, 0.5) 100%
        );
        background: -webkit-linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.5) 0%,
            rgba(48, 34, 75, 0.5) 40%,
            rgba(82, 59, 130, 0.5) 100%
        );
        background: linear-gradient(
            90deg,
            rgba(82, 59, 130, 0.5) 0%,
            rgba(48, 34, 75, 0.5) 40%,
            rgba(82, 59, 130, 0.5) 100%
        );
    }

    ul,p {
        font-size: 0.7em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    ul {
        width: 90%;
        list-style-type: decimal;
    }

    input[type=text] {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
        text-align: center;
        background: #3b3b3b;
        color: whitesmoke;
        height: 2.2em;

    }
    .btnconfirm:hover {
        box-shadow: 0 0 2px 0 whitesmoke;
      }
 
    .twoFaRubrik {
        margin-bottom: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .generate2fa {
            padding: 1em;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            background: #523b82;
            margin-right: 1em;
        }

        .generate2fa:hover {
            box-shadow: 0 0 10px 0 whitesmoke;
          }
    }

    .btnContainer {
        // min-width: 25%;
        // max-width: 50%;
        // max-height: 1em;
        font-size: 0.6em;
        margin-top: 5%;
        margin-bottom: 1em;
        .btnconfirm {
            min-width: 5em;
            min-height: 4em;
        }
        .btnconfirm:hover {
            transition: 0.35s;
        }
        .verifyActivate {
            background: rgb(82, 59, 130);
            background: -moz-linear-gradient(
                90deg,
                rgba(82, 59, 130, 0.7) 0%,
                rgba(48, 34, 75, 0.7) 40%,
                rgba(82, 59, 130, 0.7) 100%
            );
            background: -webkit-linear-gradient(
                90deg,
                rgba(82, 59, 130, 0.7) 0%,
                rgba(48, 34, 75, 0.7) 40%,
                rgba(82, 59, 130, 0.7) 100%
            );
            background: linear-gradient(
                90deg,
                rgba(82, 59, 130, 0.7) 0%,
                rgba(48, 34, 75, 0.7) 40%,
                rgba(82, 59, 130, 0.7) 100%
            );
        }
    }
    form + .true {
        font-size: 1em;
        text-align: center;
        color: rgba(31, 163, 31, 0.601);
    }
    form + .false {
        text-align: center;
        color: red;
    }
}
